.search-box{
    margin-top: 5vh ;
    border-radius: 5px;
    padding: 0 5px;
    height: 30px;
    outline-color: aqua;
}

.App-header{
    font-family: Bigelow Rules;
    font-size: 120px;
    margin: 10vh auto 0 auto;
}